@using  MvcCore.Site.Extensions
<h5>Secret Page</h5>

@{ 
    if (this.IfClaim("Produtos", "PodeLer"))
    {
        <p>Você só verá se tiver permissão de ler</p>
    }
}

<div>
    @Html.ActionLink("Secret", "SecretRole").IfClaimShow(Context, "Produtos", "PodeLer")
</div>

<div>
    <br/>
    <p>O botão Excluir só estará habilitado se o usuário possuir o ClaimType Produtos e ClaimValue Excluir </p>
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Produtos", "PodeExcluir"))">Excluir</a> 
</div>